---
---
@import "{{ site.theme }}";

.bg-stanford {
    background-color: #8c1515 !important;
}

.btn-outline-stanford {
    color: #8c1515 !important;
    border-color: #8c1515 !important;
}
.btn-outline-stanford:hover {
    color:white !important;
    background-color: #8c1515 !important; 
}

.content a {
    color: #736C51;
}
.post-content a {
    text-decoration: underline;
}
.content a:hover {
    text-decoration: underline;
    color: #212529;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

p a:not([href*='{{ site.baseurl }}']):not([href^='#']):not([href^='/']):after {
    font-family: 'FontAwesome';
    content: " \f08e";
    font-size: 0.875em;
}

#sidenav {
    top: 70px !important;
    padding-bottom: 30px;
}

#mainNav {
    z-index: 1030 !important;
}

#footer {
    height: 30px;
}

button .fa {
    transition: .3s transform ease-in-out;
}
button[aria-expanded="true"] .fa {
    transform: rotate(180deg);
}

#bootstrap-overrides .nav-link {
    color: rgba(255,255,255,.75);
}
#bootstrap-overrides a.nav-link:hover {
    color: rgb(255,255,255);
}

#bootstrap-overrides h1 {
    font-weight: 400;
    font-size: 2.4rem;
}

#bootstrap-overrides h2 {
    font-size: 1.9rem;
}

body {
    counter-reset: section;
}
figcaption::before {
    counter-increment: section;
    content: "Figure " counter(section) " - ";
}

.MathJax {
    font-size: 1.1em !important;
}
