---
---

@import "{{ site.theme }}";

.sidebar{
    height: 100%;
    align-self: flex-start;
    min-width:300px;

}
.content{
    padding-right:300px;
}
.sidebar-list{
    height: calc(100vh - 35px);
}
/* Medium devices (landscape tablets, 768px and up) */
@media (max-width:768px){

}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {
    .sidebar{
        display:none;
    }
    .content{
        padding-right:0px;
    }
} 