---
---
@import "{{ site.theme }}";

.bg-stanford {
    background-color: #8c1515 !important;
}

.btn-outline-stanford {
    color: #8c1515 !important;
    border-color: #8c1515 !important;
}
.btn-outline-stanford:hover {
    color:white !important;
    background-color: #8c1515 !important; 
}

.content a {
    color: #736C51;
}
.content a:hover {
    text-decoration: none;
    color: #212529;
}

#sidenav {
    top: 70px !important;
    padding-bottom: 30px;
}

#mainNav {
    z-index: 1030 !important;
}

#footer {
    height: 30px;
}