---
layout: default
---
<ul class="list-unstyled ml-0">
    <li  class="media mb-4">
        <img class="mr-3 img-thumbnail align-self-start" src= "{{ page.image_path | prepend: site.baseurl }}" width="150" >
        <div class="media-body">
            <h3 class="mt-0 mb-1">{{ page.title }}</h3>
            <h5>{{ page.position }}</h5>
            {{ page.content | markdownify }}
        </div>
    </li>
</ul>

<!--!>List of contributions<!-->
{% assign contributions = site.posts | where: "author", page.title %}
{% if contributions.size > 0 %}
<h4>Authored Chapters</h4>
<ul>
    {% for post in contributions reversed %}
    <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}